.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.layout li {
    margin: 0 15px;
}